<!--
  Authors : bunchdevelopers (Rahul Jograna)
  Website : https://bunchdevelopers.com/
  App Name : ionic6Template Pack
  This App Template Source code is licensed as per the
  terms found in the Website https://bunchdevelopers.com/license
  Copyright and Good Faith Purchasers © 2021-present bunchdevelopers.
 -->
<ion-content>
  <div class="img">
    <div class="main_image" [style.backgroundImage]="'url(assets/images/1.jpg)'">

      <ion-buttons slot="start">
        <ion-button (click)="util.openMenu()" color="light">
          <ion-icon slot="start" name="reorder-three-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <div class="searchbar">
        <ion-label class="sub_heading">Trouver un document ou un dossier</ion-label>
        <ion-searchbar placeholder="Rechercher..." mode="md"></ion-searchbar>
      </div>

    </div>
  </div>

  
  <div class="main_content">
    <ion-row>
      <ion-col size="6" (click)="onProfile()">
        <div class="sub_div">
          <div class="imgs" [style.backgroundImage]="'url(assets/images/2.jpg)'"></div>
          <ion-label>Makeup</ion-label>
        </div>
      </ion-col>
      <ion-col size="6" (click)="onProfile()">
        <div class="sub_div">
          <div class="imgs" [style.backgroundImage]="'url(assets/images/2.jpg)'"></div>
          <ion-label>Photographer</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" (click)="onProfile()">
        <div class="sub_div">
          <div class="imgs" [style.backgroundImage]="'url(assets/images/2.jpg)'"></div>
          <ion-label>Hair Treatment</ion-label>
        </div>
      </ion-col>
      <ion-col size="6" (click)="onProfile()">
        <div class="sub_div">
          <div class="imgs" [style.backgroundImage]="'url(assets/images/2.jpg)'"></div>
          <ion-label>Salon</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="arrow-up-circle"></ion-icon>
  </ion-fab-button>

<ion-fab-list side="top">
  <ion-button fill="outline">Créer un dossier</ion-button>
  
</ion-fab-list>

</ion-fab>


</ion-content>
